.flows_smartplug1.json.backup
[{"id":"c7aeb214.be84a","type":"tab","label":"Device1 Timer","disabled":false,"info":""},{"id":"59c0b255.effdac","type":"tab","label":"Configure","disabled":false,"info":""},{"id":"9de1b4ad.18baf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d2f6698.9218a9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bbdcf930.a44258","type":"ui_tab","name":"Timer","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"abd90154.0ed24","type":"ui_group","name":"Device 1","tab":"bbdcf930.a44258","order":1,"disp":true,"width":12,"collapse":false},{"id":"90f5cf2e.ba00d","type":"ui_tab","name":"Configuration","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"32a7e984.95e3f6","type":"ui_group","name":"Set GPIO","tab":"90f5cf2e.ba00d","order":1,"disp":true,"width":12,"collapse":false},{"id":"66c73753.9a2708","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4fa61622.b80008","type":"serial-port","serialport":"/dev/serial0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"caf40fcf.df26f","type":"mqtt-broker","name":"","broker":"tentacle-node.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3490407c.50019","type":"mqtt-broker","name":"Linode_server(remote)","broker":"172.104.20.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b9f5ce6.18d7f4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"7d3b9b87.5775b4","type":"ui_group","name":"Relay Control","tab":"","order":4,"disp":true,"width":10,"collapse":false},{"id":"92a568c8.773c58","type":"ui_group","name":"Alna Control ","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e1619f8.b97a38","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"2057ebd.42f5714","type":"ui_group","name":"Tentacle-node","tab":"","order":1,"disp":true,"width":9,"collapse":false},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"","order":1,"disp":true,"width":18,"collapse":false},{"id":"22d88a37.2f5356","type":"mqtt-broker","name":"ALNA Server(local)","broker":"alna-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"31bcce3.a4cbf32","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":3,"width":14,"height":1},{"id":"d271e821.c9c878","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":8,"width":9,"height":1},{"id":"532aff2f.0d0f2","type":"ui_group","name":"Calibration","tab":"","order":2,"disp":true,"width":12,"collapse":false},{"id":"a92924b.fe76d58","type":"ui_group","name":"Transformed Output","tab":"","order":3,"disp":true,"width":12,"collapse":false},{"id":"8310bad8.6ceac8","type":"ui_spacer","name":"spacer","group":"2057ebd.42f5714","order":10,"width":4,"height":1},{"id":"c3cb6233.770fa","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":1,"width":1,"height":1},{"id":"26962acd.750eb6","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":10,"width":1,"height":1},{"id":"8cda56d3.81feb8","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":11,"width":1,"height":1},{"id":"63a05b94.7544b4","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":20,"width":1,"height":1},{"id":"da1e78c6.957288","type":"ui_group","name":"Device 2","tab":"bbdcf930.a44258","order":2,"disp":true,"width":12,"collapse":false},{"id":"20a4e3c0.c102bc","type":"ui_group","name":"Device 3","tab":"bbdcf930.a44258","order":3,"disp":true,"width":12,"collapse":false},{"id":"c9c7a2ec.25f2f","type":"ui_group","name":"Device 4","tab":"bbdcf930.a44258","order":4,"disp":true,"width":12,"collapse":false},{"id":"9d152790.9d9de8","type":"ui_group","name":"Uptime","tab":"","order":3,"disp":true,"width":"6"},{"id":"ddc1888e.85c998","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":2,"width":1,"height":1},{"id":"2fac2f26.82d7d","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":7,"width":2,"height":1},{"id":"5aab7952.32a408","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":8,"width":1,"height":1},{"id":"56289e47.09bca","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":13,"width":2,"height":1},{"id":"8c25f701.c00688","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":15,"width":12,"height":1},{"id":"ba8946c1.4dfbf8","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":18,"width":2,"height":1},{"id":"602b78ad.af78a8","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":21,"width":6,"height":1},{"id":"3d7b25d0.7572aa","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":24,"width":7,"height":1},{"id":"369dde6a.3c5da2","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"31","set":true,"level":"1","freq":"","out":"out","x":2080,"y":100,"wires":[]},{"id":"6c51df27.e1cd7","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"33","set":true,"level":"1","freq":"","out":"out","x":1240,"y":760,"wires":[]},{"id":"a8f057b2.6f21f8","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1060,"y":760,"wires":[]},{"id":"7ac85d7d.58a6c4","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"37","set":true,"level":"1","freq":"","out":"out","x":1060,"y":880,"wires":[]},{"id":"54675942.8782a8","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":870,"y":900,"wires":[["7ac85d7d.58a6c4"]]},{"id":"2fb61949.02ba06","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":870,"y":780,"wires":[["a8f057b2.6f21f8"]]},{"id":"ebabc800.df2ff8","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":870,"y":860,"wires":[["7ac85d7d.58a6c4"]]},{"id":"6aa2febb.f3bed","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":870,"y":720,"wires":[["a8f057b2.6f21f8"]]},{"id":"9c41f3ce.cee4a","type":"ui_button","z":"c7aeb214.be84a","name":"Set","group":"abd90154.0ed24","order":14,"width":0,"height":0,"passthru":false,"label":"Set ON/OFF Cycle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"control","x":810,"y":160,"wires":[["45318f8f.854b9","ca072c5a.ebfca","bb0d3ee7.8f017","766c2e32.def8d"]]},{"id":"3a7b37f4.eff528","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":1,"width":2,"height":1,"name":"GPIO 31:","label":"","format":"GPIO 31:","layout":"row-left","x":140,"y":120,"wires":[]},{"id":"c7cb1950.6c01e8","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":4,"width":2,"height":1,"name":"GPIO 33:","label":"","format":"GPIO 33:","layout":"row-spread","x":140,"y":180,"wires":[]},{"id":"33499d43.231bf2","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":7,"width":2,"height":1,"name":"GPIO 35:","label":"","format":"GPIO 35:","layout":"row-spread","x":140,"y":240,"wires":[]},{"id":"d3398e4f.a3a69","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":10,"width":2,"height":1,"name":"GPIO 37:","label":"","format":"GPIO 37:","layout":"row-spread","x":140,"y":300,"wires":[]},{"id":"352a94e.b19c16c","type":"ui_button","z":"59c0b255.effdac","name":"","group":"32a7e984.95e3f6","order":13,"width":0,"height":0,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":850,"y":200,"wires":[["712b7773.8e3808","d2643e09.edf83","beaed741.130888","71dc5ed8.d593","13134c6d.5aebb4","afb01529.b206e8","8494a957.e621c8","353b1063.475cb","d97a28d1.d21848"]]},{"id":"80196c41.e54e4","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 1 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":2,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":120,"wires":[["4783ca45.9b0604"]]},{"id":"712b7773.8e3808","type":"change","z":"59c0b255.effdac","name":"set global.device1","rules":[{"t":"set","p":"#:(file)::device1","pt":"global","to":"device1_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":100,"wires":[[]]},{"id":"4783ca45.9b0604","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device1_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":120,"wires":[[]]},{"id":"15938914.a60287","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 2 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":5,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":180,"wires":[["75b5c365.0e799c"]]},{"id":"d2643e09.edf83","type":"change","z":"59c0b255.effdac","name":"set global.device2","rules":[{"t":"set","p":"#:(file)::device2","pt":"global","to":"device2_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":180,"wires":[[]]},{"id":"75b5c365.0e799c","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device2_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[[]]},{"id":"18bdcad7.cf3455","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 3 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":8,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":240,"wires":[["deabdaf1.927ca8"]]},{"id":"beaed741.130888","type":"change","z":"59c0b255.effdac","name":"set global.device3","rules":[{"t":"set","p":"#:(file)::device3","pt":"global","to":"device3_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":240,"wires":[[]]},{"id":"deabdaf1.927ca8","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device3_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[[]]},{"id":"7ab2cf87.2e105","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 4 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":11,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":300,"wires":[["372eb479.49125c"]]},{"id":"71dc5ed8.d593","type":"change","z":"59c0b255.effdac","name":"set global.device4","rules":[{"t":"set","p":"#:(file)::device4","pt":"global","to":"device4_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":320,"wires":[[]]},{"id":"372eb479.49125c","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device4_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[[]]},{"id":"a9dd48cf.a42308","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":3,"width":6,"height":1,"name":"","label":"Device 1: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":100,"wires":[]},{"id":"eb5a4968.d277e8","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":6,"width":6,"height":1,"name":"","label":"Device 2: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":180,"wires":[]},{"id":"966e1a47.6cab08","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":9,"width":6,"height":1,"name":"","label":"Device 3: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":240,"wires":[]},{"id":"d66a6f56.e59b1","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":12,"width":6,"height":1,"name":"","label":"Device 4: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":320,"wires":[]},{"id":"45318f8f.854b9","type":"change","z":"c7aeb214.be84a","name":"set flow.device_onInterval","rules":[{"t":"set","p":"#:(file)::device_onInterval","pt":"flow","to":"device_temp_onInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_onInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":160,"wires":[["9c236a39.193aa8"]]},{"id":"ca072c5a.ebfca","type":"change","z":"c7aeb214.be84a","name":"set flow.device_offInterval","rules":[{"t":"set","p":"#:(file)::device_offInterval","pt":"flow","to":"device_temp_offInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_offInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":200,"wires":[["76265aa3.96ed44"]]},{"id":"13450a4a.30e5d6","type":"function","z":"c7aeb214.be84a","name":"get device label","func":"msg.payload = global.get(\"device1\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":60,"wires":[["43841254.8e228c"]]},{"id":"7f878f88.de947","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::device1","payloadType":"global","x":90,"y":20,"wires":[["43841254.8e228c"]]},{"id":"43841254.8e228c","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":1,"width":0,"height":0,"name":"","label":"GPIO 31:","format":"{{msg.payload}}","layout":"row-left","x":480,"y":20,"wires":[]},{"id":"599b367b.55e5b8","type":"link in","z":"c7aeb214.be84a","name":"set_device","links":["13134c6d.5aebb4"],"x":115,"y":60,"wires":[["13450a4a.30e5d6"]]},{"id":"13134c6d.5aebb4","type":"link out","z":"59c0b255.effdac","name":"set device","links":["599b367b.55e5b8"],"x":985,"y":60,"wires":[]},{"id":"afb01529.b206e8","type":"function","z":"59c0b255.effdac","name":"get device1 label","func":"msg.payload = global.get(\"device1\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":100,"wires":[["a9dd48cf.a42308"]]},{"id":"8494a957.e621c8","type":"function","z":"59c0b255.effdac","name":"get device2 label","func":"msg.payload = global.get(\"device2\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":180,"wires":[["eb5a4968.d277e8"]]},{"id":"353b1063.475cb","type":"function","z":"59c0b255.effdac","name":"get device3 label","func":"msg.payload = global.get(\"device3\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":240,"wires":[["966e1a47.6cab08"]]},{"id":"d97a28d1.d21848","type":"function","z":"59c0b255.effdac","name":"get device4 label","func":"msg.payload = global.get(\"device4\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":320,"wires":[["d66a6f56.e59b1"]]},{"id":"e8d19caf.3d618","type":"inject","z":"59c0b255.effdac","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1270,"y":20,"wires":[["afb01529.b206e8","8494a957.e621c8","353b1063.475cb","d97a28d1.d21848"]]},{"id":"9c236a39.193aa8","type":"countdown","z":"c7aeb214.be84a","name":"On Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1400,"y":160,"wires":[["76265aa3.96ed44","e75cf256.acda5"],["a75f1f33.7dd32","50f9790b.49c718"]]},{"id":"d275738a.13db5","type":"inject","z":"c7aeb214.be84a","name":"init On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_onInterval","payloadType":"flow","x":890,"y":20,"wires":[["9c236a39.193aa8","bb0d3ee7.8f017"]]},{"id":"76265aa3.96ed44","type":"countdown","z":"c7aeb214.be84a","name":"Off Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1400,"y":220,"wires":[["9c236a39.193aa8","21783e3b.6a4582"],["59791463.66aacc","50f9790b.49c718"]]},{"id":"44cd7f4a.9948e","type":"inject","z":"c7aeb214.be84a","name":"init Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_offInterval","payloadType":"flow","x":890,"y":60,"wires":[["76265aa3.96ed44","766c2e32.def8d"]]},{"id":"ad5416fb.e5e888","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":16,"width":3,"height":1,"name":"","label":"On Cycle:","format":"{{msg.payload}}","layout":"row-left","x":1640,"y":20,"wires":[]},{"id":"bb0d3ee7.8f017","type":"function","z":"c7aeb214.be84a","name":"get on interval","func":"msg.payload = flow.get(\"device_onInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":20,"wires":[["92b2a7fa.56fef8"]]},{"id":"18d80935.0545c7","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":17,"width":3,"height":1,"name":"","label":"Off cycle:","format":"{{msg.payload}}","layout":"row-left","x":1640,"y":60,"wires":[]},{"id":"766c2e32.def8d","type":"function","z":"c7aeb214.be84a","name":"get off interval","func":"msg.payload = flow.get(\"device_offInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":60,"wires":[["11f7c4ec.f3f58b"]]},{"id":"ea76bfab.71098","type":"ui_gauge","z":"c7aeb214.be84a","name":"Time visual","group":"abd90154.0ed24","order":25,"width":12,"height":4,"gtype":"donut","title":"","label":"","format":"","min":0,"max":10,"colors":["#e6e600","#fd5e53","#191970"],"seg1":"","seg2":"","x":2050,"y":180,"wires":[]},{"id":"a75f1f33.7dd32","type":"function","z":"c7aeb214.be84a","name":"variable guage on parameters","func":"min = -flow.get(\"device_onInterval\", \"file\");\nmax = 0;\n\nmsg = {payload:-msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":160,"wires":[["ea76bfab.71098"]]},{"id":"59791463.66aacc","type":"function","z":"c7aeb214.be84a","name":"variable guage off parameters","func":"max = flow.get(\"device_offInterval\", \"file\");\nmin = 0;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":200,"wires":[["ea76bfab.71098"]]},{"id":"1e0c6164.b3fedf","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":23,"width":5,"height":1,"name":"","label":"Time Remaining:","format":"{{msg.payload}}","layout":"row-left","x":2070,"y":240,"wires":[]},{"id":"50f9790b.49c718","type":"function","z":"c7aeb214.be84a","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":240,"wires":[["1e0c6164.b3fedf"]]},{"id":"905f858d.8346d8","type":"ui_text_input","z":"c7aeb214.be84a","name":"On Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"abd90154.0ed24","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":130,"y":220,"wires":[["cee12aa6.72f7c8"]]},{"id":"5c7a637b.3b4dbc","type":"ui_text_input","z":"c7aeb214.be84a","name":"On Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"abd90154.0ed24","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":130,"y":260,"wires":[["cee12aa6.72f7c8"]]},{"id":"97bfeefb.d99c","type":"ui_text_input","z":"c7aeb214.be84a","name":"On Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"abd90154.0ed24","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":140,"y":300,"wires":[["cee12aa6.72f7c8"]]},{"id":"55cc403d.8ad1f","type":"ui_text_input","z":"c7aeb214.be84a","name":"Off Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"abd90154.0ed24","order":10,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":130,"y":420,"wires":[["84e42140.68e7e"]]},{"id":"6013d436.a2a18c","type":"ui_text_input","z":"c7aeb214.be84a","name":"Off Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"abd90154.0ed24","order":11,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":130,"y":460,"wires":[["84e42140.68e7e"]]},{"id":"7b011e9e.421fa","type":"ui_text_input","z":"c7aeb214.be84a","name":"Off Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"abd90154.0ed24","order":12,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":140,"y":500,"wires":[["84e42140.68e7e"]]},{"id":"84e42140.68e7e","type":"join","z":"c7aeb214.be84a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":460,"wires":[["dc726e47.51e9f"]]},{"id":"dc726e47.51e9f","type":"function","z":"c7aeb214.be84a","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":460,"wires":[["5b30bac.dc65d44"]]},{"id":"92b2a7fa.56fef8","type":"function","z":"c7aeb214.be84a","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":20,"wires":[["ad5416fb.e5e888"]]},{"id":"11f7c4ec.f3f58b","type":"function","z":"c7aeb214.be84a","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":60,"wires":[["18d80935.0545c7"]]},{"id":"97d5f5ea.a68e18","type":"function","z":"c7aeb214.be84a","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":260,"wires":[["dc9ceb97.a7def8"]]},{"id":"cee12aa6.72f7c8","type":"join","z":"c7aeb214.be84a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":260,"wires":[["97d5f5ea.a68e18"]]},{"id":"5b30bac.dc65d44","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"device_temp_offInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":460,"wires":[[]]},{"id":"dc9ceb97.a7def8","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"device_temp_onInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[[]]},{"id":"bb6a3202.cf5e3","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".5","topic":"","payload":"1","payloadType":"num","x":90,"y":120,"wires":[["905f858d.8346d8","5c7a637b.3b4dbc","97bfeefb.d99c","55cc403d.8ad1f","6013d436.a2a18c","7b011e9e.421fa"]]},{"id":"1688334c.0cc54d","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":3,"width":3,"height":1,"name":"Set \"On\" Time Interval","label":"","format":"Set \"On\" Time Interval","layout":"row-left","x":140,"y":180,"wires":[]},{"id":"f5881f04.4b67","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":9,"width":3,"height":1,"name":"Set \"Off\" Time Interval","label":"","format":"Set \"Off\" Time Interval","layout":"row-left","x":140,"y":380,"wires":[]},{"id":"65cba976.827398","type":"ui_button","z":"c7aeb214.be84a","name":"","group":"abd90154.0ed24","order":19,"width":4,"height":1,"passthru":false,"label":"Start Sequence","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":1160,"y":320,"wires":[["9c236a39.193aa8","2f887f94.7789a"]]},{"id":"ed1f7e0d.330a2","type":"ui_button","z":"c7aeb214.be84a","name":"","group":"abd90154.0ed24","order":22,"width":4,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"cancel","payloadType":"str","topic":"control","x":1130,"y":360,"wires":[["9c236a39.193aa8","76265aa3.96ed44","32e949a.83cacb6","9b9414c4.6b7748"]]},{"id":"e75cf256.acda5","type":"function","z":"c7aeb214.be84a","name":"ON function","func":"if (msg.payload == false){\n    msg.payload = 0;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":60,"wires":[["369dde6a.3c5da2","8ca913d9.5fa46"]]},{"id":"21783e3b.6a4582","type":"function","z":"c7aeb214.be84a","name":"OFF function","func":"if (msg.payload == false){\n    msg.payload = 1;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":100,"wires":[["369dde6a.3c5da2","8ca913d9.5fa46"]]},{"id":"32e949a.83cacb6","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":360,"wires":[["21783e3b.6a4582"]]},{"id":"8ca913d9.5fa46","type":"ui_led","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":20,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":2070,"y":60,"wires":[]},{"id":"17b7bc2.ff3d844","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1860,"y":20,"wires":[["8ca913d9.5fa46"]]},{"id":"2f887f94.7789a","type":"change","z":"c7aeb214.be84a","name":"disable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["9c41f3ce.cee4a"]]},{"id":"9b9414c4.6b7748","type":"change","z":"c7aeb214.be84a","name":"enable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["9c41f3ce.cee4a"]]}]