.flows_raspberrypi.json.backup
[{"id":"c7aeb214.be84a","type":"tab","label":"Timer","disabled":false,"info":""},{"id":"59c0b255.effdac","type":"tab","label":"Configure","disabled":false,"info":""},{"id":"1d2f6698.9218a9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bbdcf930.a44258","type":"ui_tab","name":"Timer","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"abd90154.0ed24","type":"ui_group","name":"Device 1","tab":"bbdcf930.a44258","order":1,"disp":true,"width":12,"collapse":false},{"id":"90f5cf2e.ba00d","type":"ui_tab","name":"Configuration","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"32a7e984.95e3f6","type":"ui_group","name":"Set GPIO","tab":"90f5cf2e.ba00d","order":1,"disp":true,"width":12,"collapse":false},{"id":"66c73753.9a2708","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4fa61622.b80008","type":"serial-port","serialport":"/dev/serial0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"caf40fcf.df26f","type":"mqtt-broker","name":"","broker":"tentacle-node.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3490407c.50019","type":"mqtt-broker","name":"Linode_server(remote)","broker":"172.104.20.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b9f5ce6.18d7f4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"7d3b9b87.5775b4","type":"ui_group","name":"Relay Control","tab":"","order":4,"disp":true,"width":10,"collapse":false},{"id":"92a568c8.773c58","type":"ui_group","name":"Alna Control ","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e1619f8.b97a38","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"2057ebd.42f5714","type":"ui_group","name":"Tentacle-node","tab":"","order":1,"disp":true,"width":9,"collapse":false},{"id":"37886c04.763e44","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"","order":1,"disp":true,"width":18,"collapse":false},{"id":"22d88a37.2f5356","type":"mqtt-broker","name":"ALNA Server(local)","broker":"alna-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"31bcce3.a4cbf32","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":3,"width":14,"height":1},{"id":"d271e821.c9c878","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":8,"width":9,"height":1},{"id":"532aff2f.0d0f2","type":"ui_group","name":"Calibration","tab":"","order":2,"disp":true,"width":12,"collapse":false},{"id":"a92924b.fe76d58","type":"ui_group","name":"Transformed Output","tab":"","order":3,"disp":true,"width":12,"collapse":false},{"id":"8310bad8.6ceac8","type":"ui_spacer","name":"spacer","group":"2057ebd.42f5714","order":10,"width":4,"height":1},{"id":"c3cb6233.770fa","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":1,"width":1,"height":1},{"id":"26962acd.750eb6","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":10,"width":1,"height":1},{"id":"8cda56d3.81feb8","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":11,"width":1,"height":1},{"id":"63a05b94.7544b4","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":20,"width":1,"height":1},{"id":"da1e78c6.957288","type":"ui_group","name":"Device 2","tab":"bbdcf930.a44258","order":2,"disp":true,"width":12,"collapse":false},{"id":"20a4e3c0.c102bc","type":"ui_group","name":"Device 3","tab":"bbdcf930.a44258","order":3,"disp":true,"width":12,"collapse":false},{"id":"c9c7a2ec.25f2f","type":"ui_group","name":"Device 4","tab":"bbdcf930.a44258","order":4,"disp":true,"width":12,"collapse":false},{"id":"57f15e9.bc6e6a","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":4,"width":1,"height":1},{"id":"369dde6a.3c5da2","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"31","set":true,"level":"1","freq":"","out":"out","x":1160,"y":380,"wires":[]},{"id":"6c51df27.e1cd7","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"33","set":true,"level":"1","freq":"","out":"out","x":1060,"y":620,"wires":[]},{"id":"a8f057b2.6f21f8","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1060,"y":760,"wires":[]},{"id":"7ac85d7d.58a6c4","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"37","set":true,"level":"1","freq":"","out":"out","x":1060,"y":880,"wires":[]},{"id":"dfc83ddc.1317e","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":870,"y":640,"wires":[["6c51df27.e1cd7"]]},{"id":"54675942.8782a8","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":870,"y":900,"wires":[["7ac85d7d.58a6c4"]]},{"id":"2fb61949.02ba06","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":870,"y":780,"wires":[["a8f057b2.6f21f8"]]},{"id":"ebabc800.df2ff8","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":870,"y":860,"wires":[["7ac85d7d.58a6c4"]]},{"id":"dca61de7.0d707","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":870,"y":600,"wires":[["6c51df27.e1cd7"]]},{"id":"6aa2febb.f3bed","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":870,"y":720,"wires":[["a8f057b2.6f21f8"]]},{"id":"54077e43.b4651","type":"ui_text_input","z":"c7aeb214.be84a","name":"On Interval","label":"On Cycle","tooltip":"please set an on or ","group":"abd90154.0ed24","order":2,"width":3,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":350,"y":80,"wires":[["dc9ceb97.a7def8"]]},{"id":"9c41f3ce.cee4a","type":"ui_button","z":"c7aeb214.be84a","name":"Set","group":"abd90154.0ed24","order":5,"width":5,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":870,"y":80,"wires":[["45318f8f.854b9","ca072c5a.ebfca"]]},{"id":"da902bab.f732e8","type":"ui_text_input","z":"c7aeb214.be84a","name":"Off Cycle","label":"Off interval","tooltip":"please set an on or ","group":"abd90154.0ed24","order":3,"width":3,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":340,"y":120,"wires":[["5b30bac.dc65d44"]]},{"id":"c66a731a.465c9","type":"inject","z":"c7aeb214.be84a","name":"","props":[{"p":"Pin","v":"32","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1010,"y":380,"wires":[["369dde6a.3c5da2"]]},{"id":"3a7b37f4.eff528","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":1,"width":2,"height":1,"name":"GPIO 31:","label":"","format":"GPIO 31:","layout":"row-left","x":140,"y":120,"wires":[]},{"id":"c7cb1950.6c01e8","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":4,"width":2,"height":1,"name":"GPIO 33:","label":"","format":"GPIO 33:","layout":"row-spread","x":140,"y":180,"wires":[]},{"id":"33499d43.231bf2","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":7,"width":2,"height":1,"name":"GPIO 35:","label":"","format":"GPIO 35:","layout":"row-spread","x":140,"y":240,"wires":[]},{"id":"d3398e4f.a3a69","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":10,"width":2,"height":1,"name":"GPIO 37:","label":"","format":"GPIO 37:","layout":"row-spread","x":140,"y":300,"wires":[]},{"id":"352a94e.b19c16c","type":"ui_button","z":"59c0b255.effdac","name":"","group":"32a7e984.95e3f6","order":13,"width":0,"height":0,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":830,"y":200,"wires":[["712b7773.8e3808","d2643e09.edf83","beaed741.130888","71dc5ed8.d593"]]},{"id":"80196c41.e54e4","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 1 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":2,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":120,"wires":[["4783ca45.9b0604"]]},{"id":"712b7773.8e3808","type":"change","z":"59c0b255.effdac","name":"set global.device1","rules":[{"t":"set","p":"#:(file)::device1","pt":"global","to":"device1_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":100,"wires":[["a9dd48cf.a42308"]]},{"id":"4783ca45.9b0604","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device1_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":120,"wires":[[]]},{"id":"15938914.a60287","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 2 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":5,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":180,"wires":[["75b5c365.0e799c"]]},{"id":"d2643e09.edf83","type":"change","z":"59c0b255.effdac","name":"set global.device2","rules":[{"t":"set","p":"#:(file)::device2","pt":"global","to":"device2_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":180,"wires":[["eb5a4968.d277e8"]]},{"id":"75b5c365.0e799c","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device2_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[[]]},{"id":"18bdcad7.cf3455","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 3 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":8,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":240,"wires":[["deabdaf1.927ca8"]]},{"id":"beaed741.130888","type":"change","z":"59c0b255.effdac","name":"set global.device3","rules":[{"t":"set","p":"#:(file)::device3","pt":"global","to":"device3_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":240,"wires":[["966e1a47.6cab08"]]},{"id":"deabdaf1.927ca8","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device3_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[[]]},{"id":"7ab2cf87.2e105","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 4 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":11,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":300,"wires":[["372eb479.49125c"]]},{"id":"71dc5ed8.d593","type":"change","z":"59c0b255.effdac","name":"set global.device4","rules":[{"t":"set","p":"#:(file)::device4","pt":"global","to":"device4_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":320,"wires":[["d66a6f56.e59b1"]]},{"id":"372eb479.49125c","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device4_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[[]]},{"id":"a9dd48cf.a42308","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":3,"width":6,"height":1,"name":"","label":"Device 1: ","format":"{{msg.payload}}","layout":"row-left","x":1330,"y":100,"wires":[]},{"id":"eb5a4968.d277e8","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":6,"width":6,"height":1,"name":"","label":"Device 2: ","format":"{{msg.payload}}","layout":"row-left","x":1320,"y":180,"wires":[]},{"id":"966e1a47.6cab08","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":9,"width":6,"height":1,"name":"","label":"Device 3: ","format":"{{msg.payload}}","layout":"row-left","x":1320,"y":240,"wires":[]},{"id":"d66a6f56.e59b1","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":12,"width":6,"height":1,"name":"","label":"Device 4: ","format":"{{msg.payload}}","layout":"row-left","x":1320,"y":320,"wires":[]},{"id":"dc9ceb97.a7def8","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"device1_temp_onInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[[]]},{"id":"45318f8f.854b9","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"#:(file)::device1_onInterval","pt":"flow","to":"device1_temp_onInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":80,"wires":[[]]},{"id":"5b30bac.dc65d44","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"device1_temp_offInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[[]]},{"id":"ca072c5a.ebfca","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"#:(file)::device1_offInterval","pt":"flow","to":"device1_temp_offInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":120,"wires":[[]]},{"id":"13450a4a.30e5d6","type":"function","z":"c7aeb214.be84a","name":"get device label","func":"msg.payload = global.get(\"device1\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":40,"wires":[["43841254.8e228c"]]},{"id":"7f878f88.de947","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::device1","payloadType":"global","x":90,"y":20,"wires":[["43841254.8e228c"]]},{"id":"43841254.8e228c","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":1,"width":0,"height":0,"name":"","label":"GPIO 31:","format":"{{msg.payload}}","layout":"row-left","x":440,"y":20,"wires":[]}]