.flows_smartplug1.json.backup
[{"id":"c7aeb214.be84a","type":"tab","label":"Device1 Timer","disabled":false,"info":""},{"id":"9de1b4ad.18baf8","type":"tab","label":"Device 2 Timer","disabled":false,"info":""},{"id":"68d6886a.182df8","type":"tab","label":"Device 3 Timer","disabled":false,"info":""},{"id":"7b20b127.ba8f","type":"tab","label":"Device 4 Timer","disabled":false,"info":""},{"id":"59c0b255.effdac","type":"tab","label":"Configure","disabled":false,"info":""},{"id":"1d2f6698.9218a9","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bbdcf930.a44258","type":"ui_tab","name":"Timer","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"abd90154.0ed24","type":"ui_group","name":"Device 1","tab":"bbdcf930.a44258","order":1,"disp":true,"width":12,"collapse":false},{"id":"90f5cf2e.ba00d","type":"ui_tab","name":"Configuration","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"32a7e984.95e3f6","type":"ui_group","name":"Set GPIO","tab":"90f5cf2e.ba00d","order":1,"disp":true,"width":12,"collapse":false},{"id":"66c73753.9a2708","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4fa61622.b80008","type":"serial-port","serialport":"/dev/serial0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"caf40fcf.df26f","type":"mqtt-broker","name":"","broker":"tentacle-node.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3490407c.50019","type":"mqtt-broker","name":"Linode_server(remote)","broker":"172.104.20.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b9f5ce6.18d7f4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"7d3b9b87.5775b4","type":"ui_group","name":"Relay Control","tab":"","order":4,"disp":true,"width":10,"collapse":false},{"id":"92a568c8.773c58","type":"ui_group","name":"Alna Control ","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e1619f8.b97a38","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"2057ebd.42f5714","type":"ui_group","name":"Tentacle-node","tab":"","order":1,"disp":true,"width":9,"collapse":false},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"","order":1,"disp":true,"width":18,"collapse":false},{"id":"22d88a37.2f5356","type":"mqtt-broker","name":"ALNA Server(local)","broker":"alna-server.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"31bcce3.a4cbf32","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":3,"width":14,"height":1},{"id":"d271e821.c9c878","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":8,"width":9,"height":1},{"id":"532aff2f.0d0f2","type":"ui_group","name":"Calibration","tab":"","order":2,"disp":true,"width":12,"collapse":false},{"id":"a92924b.fe76d58","type":"ui_group","name":"Transformed Output","tab":"","order":3,"disp":true,"width":12,"collapse":false},{"id":"8310bad8.6ceac8","type":"ui_spacer","name":"spacer","group":"2057ebd.42f5714","order":10,"width":4,"height":1},{"id":"c3cb6233.770fa","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":1,"width":1,"height":1},{"id":"26962acd.750eb6","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":10,"width":1,"height":1},{"id":"8cda56d3.81feb8","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":11,"width":1,"height":1},{"id":"63a05b94.7544b4","type":"ui_spacer","name":"spacer","group":"7d3b9b87.5775b4","order":20,"width":1,"height":1},{"id":"da1e78c6.957288","type":"ui_group","name":"Device 2","tab":"bbdcf930.a44258","order":2,"disp":true,"width":12,"collapse":false},{"id":"20a4e3c0.c102bc","type":"ui_group","name":"Device 3","tab":"bbdcf930.a44258","order":3,"disp":true,"width":12,"collapse":false},{"id":"c9c7a2ec.25f2f","type":"ui_group","name":"Device 4","tab":"bbdcf930.a44258","order":4,"disp":true,"width":12,"collapse":false},{"id":"9d152790.9d9de8","type":"ui_group","name":"Uptime","tab":"","order":3,"disp":true,"width":"6"},{"id":"245f1f99.a8d1d","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":6,"width":3,"height":1},{"id":"75a91493.342cdc","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":11,"width":3,"height":1},{"id":"2e218900.813498","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":15,"width":2,"height":1},{"id":"aae329e3.2c4d58","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":19,"width":1,"height":1},{"id":"ce4f6095.4cb82","type":"ui_spacer","name":"spacer","group":"abd90154.0ed24","order":21,"width":8,"height":1},{"id":"6955881c.8a9088","type":"ui_spacer","name":"spacer","group":"da1e78c6.957288","order":6,"width":3,"height":1},{"id":"f349bca8.b2c5a","type":"ui_spacer","name":"spacer","group":"da1e78c6.957288","order":11,"width":3,"height":1},{"id":"fb489ac2.ae7de8","type":"ui_spacer","name":"spacer","group":"da1e78c6.957288","order":15,"width":2,"height":1},{"id":"7ebf00ed.fd867","type":"ui_spacer","name":"spacer","group":"da1e78c6.957288","order":19,"width":1,"height":1},{"id":"7f585084.015ce","type":"ui_spacer","name":"spacer","group":"da1e78c6.957288","order":21,"width":8,"height":1},{"id":"55e0de01.13c6b","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":2,"width":2,"height":1},{"id":"dec03be9.128008","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":7,"width":1,"height":1},{"id":"ab04704.171e49","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":8,"width":5,"height":1},{"id":"553d6d03.45ba34","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":13,"width":4,"height":1},{"id":"67948070.cb76c","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":17,"width":4,"height":1},{"id":"e47d95ad.c44588","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":20,"width":8,"height":1},{"id":"ccddc69e.9c4748","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":22,"width":2,"height":1},{"id":"7da758aa.909898","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":23,"width":8,"height":1},{"id":"712456d.c9f5aa8","type":"ui_spacer","name":"spacer","group":"20a4e3c0.c102bc","order":26,"width":7,"height":1},{"id":"d3f2d352.bbf4c","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":2,"width":2,"height":1},{"id":"9df74892.917288","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":7,"width":1,"height":1},{"id":"8638ab90.f3f638","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":8,"width":5,"height":1},{"id":"8b9aa921.1ef518","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":13,"width":4,"height":1},{"id":"9048113c.43e2e","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":17,"width":4,"height":1},{"id":"6b8ed0e1.4d3b9","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":20,"width":8,"height":1},{"id":"99ba5ec5.600b6","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":22,"width":2,"height":1},{"id":"7080fd05.f79334","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":23,"width":8,"height":1},{"id":"ffc2f02d.f08be","type":"ui_spacer","name":"spacer","group":"c9c7a2ec.25f2f","order":26,"width":7,"height":1},{"id":"369dde6a.3c5da2","type":"rpi-gpio out","z":"c7aeb214.be84a","name":"","pin":"31","set":true,"level":"1","freq":"","out":"out","x":2080,"y":100,"wires":[]},{"id":"9c41f3ce.cee4a","type":"ui_button","z":"c7aeb214.be84a","name":"Set","group":"abd90154.0ed24","order":12,"width":12,"height":1,"passthru":false,"label":"Set ON/OFF Cycle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"control","x":810,"y":160,"wires":[["45318f8f.854b9","ca072c5a.ebfca","bb0d3ee7.8f017","766c2e32.def8d"]]},{"id":"3a7b37f4.eff528","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":1,"width":2,"height":1,"name":"GPIO 31:","label":"","format":"GPIO 31:","layout":"row-left","x":140,"y":120,"wires":[]},{"id":"c7cb1950.6c01e8","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":4,"width":2,"height":1,"name":"GPIO 33:","label":"","format":"GPIO 33:","layout":"row-spread","x":140,"y":180,"wires":[]},{"id":"33499d43.231bf2","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":7,"width":2,"height":1,"name":"GPIO 35:","label":"","format":"GPIO 35:","layout":"row-spread","x":140,"y":240,"wires":[]},{"id":"d3398e4f.a3a69","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":10,"width":2,"height":1,"name":"GPIO 37:","label":"","format":"GPIO 37:","layout":"row-spread","x":140,"y":300,"wires":[]},{"id":"352a94e.b19c16c","type":"ui_button","z":"59c0b255.effdac","name":"","group":"32a7e984.95e3f6","order":13,"width":0,"height":0,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":850,"y":200,"wires":[["712b7773.8e3808","d2643e09.edf83","beaed741.130888","71dc5ed8.d593","13134c6d.5aebb4","afb01529.b206e8","8494a957.e621c8","353b1063.475cb","d97a28d1.d21848"]]},{"id":"80196c41.e54e4","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 1 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":2,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":120,"wires":[["4783ca45.9b0604"]]},{"id":"712b7773.8e3808","type":"change","z":"59c0b255.effdac","name":"set global.device1","rules":[{"t":"set","p":"#:(file)::device1","pt":"global","to":"device1_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":100,"wires":[[]]},{"id":"4783ca45.9b0604","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device1_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":120,"wires":[[]]},{"id":"15938914.a60287","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 2 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":5,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":180,"wires":[["75b5c365.0e799c"]]},{"id":"d2643e09.edf83","type":"change","z":"59c0b255.effdac","name":"set global.device2","rules":[{"t":"set","p":"#:(file)::device2","pt":"global","to":"device2_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":180,"wires":[[]]},{"id":"75b5c365.0e799c","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device2_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[[]]},{"id":"18bdcad7.cf3455","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 3 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":8,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":240,"wires":[["deabdaf1.927ca8"]]},{"id":"beaed741.130888","type":"change","z":"59c0b255.effdac","name":"set global.device3","rules":[{"t":"set","p":"#:(file)::device3","pt":"global","to":"device3_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":240,"wires":[[]]},{"id":"deabdaf1.927ca8","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device3_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[[]]},{"id":"7ab2cf87.2e105","type":"ui_text_input","z":"59c0b255.effdac","name":"Set Device 4 Label","label":"Set Device name","tooltip":"","group":"32a7e984.95e3f6","order":11,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":300,"wires":[["372eb479.49125c"]]},{"id":"71dc5ed8.d593","type":"change","z":"59c0b255.effdac","name":"set global.device4","rules":[{"t":"set","p":"#:(file)::device4","pt":"global","to":"device4_temp","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":320,"wires":[[]]},{"id":"372eb479.49125c","type":"change","z":"59c0b255.effdac","name":"","rules":[{"t":"set","p":"device4_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[[]]},{"id":"a9dd48cf.a42308","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":3,"width":6,"height":1,"name":"","label":"Device 1: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":100,"wires":[]},{"id":"eb5a4968.d277e8","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":6,"width":6,"height":1,"name":"","label":"Device 2: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":180,"wires":[]},{"id":"966e1a47.6cab08","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":9,"width":6,"height":1,"name":"","label":"Device 3: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":240,"wires":[]},{"id":"d66a6f56.e59b1","type":"ui_text","z":"59c0b255.effdac","group":"32a7e984.95e3f6","order":12,"width":6,"height":1,"name":"","label":"Device 4: ","format":"{{msg.payload}}","layout":"row-left","x":1620,"y":320,"wires":[]},{"id":"45318f8f.854b9","type":"change","z":"c7aeb214.be84a","name":"set flow.device_onInterval","rules":[{"t":"set","p":"#:(file)::device_onInterval","pt":"flow","to":"device_temp_onInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_onInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":160,"wires":[["9c236a39.193aa8"]]},{"id":"ca072c5a.ebfca","type":"change","z":"c7aeb214.be84a","name":"set flow.device_offInterval","rules":[{"t":"set","p":"#:(file)::device_offInterval","pt":"flow","to":"device_temp_offInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_offInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":200,"wires":[["76265aa3.96ed44"]]},{"id":"13450a4a.30e5d6","type":"function","z":"c7aeb214.be84a","name":"get device label","func":"msg.payload = global.get(\"device1\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":60,"wires":[["43841254.8e228c"]]},{"id":"7f878f88.de947","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::device1","payloadType":"global","x":90,"y":20,"wires":[["43841254.8e228c"]]},{"id":"43841254.8e228c","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":1,"width":0,"height":0,"name":"","label":"GPIO 31:","format":"{{msg.payload}}","layout":"row-left","x":480,"y":20,"wires":[]},{"id":"599b367b.55e5b8","type":"link in","z":"c7aeb214.be84a","name":"set_device","links":["13134c6d.5aebb4"],"x":115,"y":60,"wires":[["13450a4a.30e5d6"]]},{"id":"13134c6d.5aebb4","type":"link out","z":"59c0b255.effdac","name":"set device","links":["599b367b.55e5b8","ae22829c.be3b7","ff61c1df.64217","b6746acf.9b0e28","834b6dcd.d8906"],"x":985,"y":60,"wires":[]},{"id":"afb01529.b206e8","type":"function","z":"59c0b255.effdac","name":"get device1 label","func":"msg.payload = global.get(\"device1\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":100,"wires":[["a9dd48cf.a42308"]]},{"id":"8494a957.e621c8","type":"function","z":"59c0b255.effdac","name":"get device2 label","func":"msg.payload = global.get(\"device2\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":180,"wires":[["eb5a4968.d277e8"]]},{"id":"353b1063.475cb","type":"function","z":"59c0b255.effdac","name":"get device3 label","func":"msg.payload = global.get(\"device3\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":240,"wires":[["966e1a47.6cab08"]]},{"id":"d97a28d1.d21848","type":"function","z":"59c0b255.effdac","name":"get device4 label","func":"msg.payload = global.get(\"device4\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":320,"wires":[["d66a6f56.e59b1"]]},{"id":"e8d19caf.3d618","type":"inject","z":"59c0b255.effdac","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1270,"y":20,"wires":[["afb01529.b206e8","8494a957.e621c8","353b1063.475cb","d97a28d1.d21848"]]},{"id":"9c236a39.193aa8","type":"countdown","z":"c7aeb214.be84a","name":"On Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1440,"y":160,"wires":[["76265aa3.96ed44","e75cf256.acda5"],["a75f1f33.7dd32","50f9790b.49c718"]]},{"id":"d275738a.13db5","type":"inject","z":"c7aeb214.be84a","name":"init On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_onInterval","payloadType":"flow","x":890,"y":20,"wires":[["9c236a39.193aa8","bb0d3ee7.8f017"]]},{"id":"76265aa3.96ed44","type":"countdown","z":"c7aeb214.be84a","name":"Off Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1440,"y":220,"wires":[["9c236a39.193aa8","21783e3b.6a4582"],["59791463.66aacc","50f9790b.49c718"]]},{"id":"44cd7f4a.9948e","type":"inject","z":"c7aeb214.be84a","name":"init Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_offInterval","payloadType":"flow","x":890,"y":60,"wires":[["76265aa3.96ed44","766c2e32.def8d"]]},{"id":"ad5416fb.e5e888","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":13,"width":3,"height":1,"name":"","label":"On Cycle:","format":"{{msg.payload}}","layout":"row-left","x":1640,"y":20,"wires":[]},{"id":"bb0d3ee7.8f017","type":"function","z":"c7aeb214.be84a","name":"get on interval","func":"msg.payload = flow.get(\"device_onInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":20,"wires":[["92b2a7fa.56fef8"]]},{"id":"18d80935.0545c7","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":14,"width":3,"height":1,"name":"","label":"Off cycle:","format":"{{msg.payload}}","layout":"row-left","x":1640,"y":60,"wires":[]},{"id":"766c2e32.def8d","type":"function","z":"c7aeb214.be84a","name":"get off interval","func":"msg.payload = flow.get(\"device_offInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":60,"wires":[["11f7c4ec.f3f58b"]]},{"id":"ea76bfab.71098","type":"ui_gauge","z":"c7aeb214.be84a","name":"Time visual","group":"abd90154.0ed24","order":23,"width":12,"height":4,"gtype":"donut","title":"","label":"","format":"","min":0,"max":10,"colors":["#e6e600","#fd5e53","#191970"],"seg1":"","seg2":"","x":2050,"y":180,"wires":[]},{"id":"a75f1f33.7dd32","type":"function","z":"c7aeb214.be84a","name":"variable guage on parameters","func":"min = -flow.get(\"device_onInterval\", \"file\");\nmax = 0;\n\nmsg = {payload:-msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":160,"wires":[["ea76bfab.71098"]]},{"id":"59791463.66aacc","type":"function","z":"c7aeb214.be84a","name":"variable guage off parameters","func":"max = flow.get(\"device_offInterval\", \"file\");\nmin = 0;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":200,"wires":[["ea76bfab.71098"]]},{"id":"1e0c6164.b3fedf","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":17,"width":5,"height":1,"name":"","label":"Time Remaining:","format":"{{msg.payload}}","layout":"row-left","x":2070,"y":240,"wires":[]},{"id":"50f9790b.49c718","type":"function","z":"c7aeb214.be84a","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":240,"wires":[["1e0c6164.b3fedf"]]},{"id":"905f858d.8346d8","type":"ui_text_input","z":"c7aeb214.be84a","name":"On Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"abd90154.0ed24","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":130,"y":220,"wires":[["cee12aa6.72f7c8"]]},{"id":"5c7a637b.3b4dbc","type":"ui_text_input","z":"c7aeb214.be84a","name":"On Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"abd90154.0ed24","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":130,"y":260,"wires":[["cee12aa6.72f7c8"]]},{"id":"97bfeefb.d99c","type":"ui_text_input","z":"c7aeb214.be84a","name":"On Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"abd90154.0ed24","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":140,"y":300,"wires":[["cee12aa6.72f7c8"]]},{"id":"55cc403d.8ad1f","type":"ui_text_input","z":"c7aeb214.be84a","name":"Off Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"abd90154.0ed24","order":8,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":130,"y":420,"wires":[["84e42140.68e7e"]]},{"id":"6013d436.a2a18c","type":"ui_text_input","z":"c7aeb214.be84a","name":"Off Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"abd90154.0ed24","order":9,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":130,"y":460,"wires":[["84e42140.68e7e"]]},{"id":"7b011e9e.421fa","type":"ui_text_input","z":"c7aeb214.be84a","name":"Off Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"abd90154.0ed24","order":10,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":140,"y":500,"wires":[["84e42140.68e7e"]]},{"id":"84e42140.68e7e","type":"join","z":"c7aeb214.be84a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":460,"wires":[["dc726e47.51e9f"]]},{"id":"dc726e47.51e9f","type":"function","z":"c7aeb214.be84a","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":460,"wires":[["5b30bac.dc65d44"]]},{"id":"92b2a7fa.56fef8","type":"function","z":"c7aeb214.be84a","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":20,"wires":[["ad5416fb.e5e888"]]},{"id":"11f7c4ec.f3f58b","type":"function","z":"c7aeb214.be84a","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":60,"wires":[["18d80935.0545c7"]]},{"id":"97d5f5ea.a68e18","type":"function","z":"c7aeb214.be84a","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":260,"wires":[["dc9ceb97.a7def8"]]},{"id":"cee12aa6.72f7c8","type":"join","z":"c7aeb214.be84a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":260,"wires":[["97d5f5ea.a68e18"]]},{"id":"5b30bac.dc65d44","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"device_temp_offInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":460,"wires":[[]]},{"id":"dc9ceb97.a7def8","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"device_temp_onInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[[]]},{"id":"bb6a3202.cf5e3","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".5","topic":"","payload":"1","payloadType":"num","x":90,"y":120,"wires":[["905f858d.8346d8","5c7a637b.3b4dbc","97bfeefb.d99c","55cc403d.8ad1f","6013d436.a2a18c","7b011e9e.421fa"]]},{"id":"1688334c.0cc54d","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":2,"width":3,"height":1,"name":"Set \"On\" Time Interval","label":"","format":"Set \"On\" Time Interval","layout":"row-left","x":140,"y":180,"wires":[]},{"id":"f5881f04.4b67","type":"ui_text","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":7,"width":3,"height":1,"name":"Set \"Off\" Time Interval","label":"","format":"Set \"Off\" Time Interval","layout":"row-left","x":140,"y":380,"wires":[]},{"id":"65cba976.827398","type":"ui_button","z":"c7aeb214.be84a","name":"","group":"abd90154.0ed24","order":16,"width":4,"height":1,"passthru":false,"label":"Start Sequence","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":1100,"y":320,"wires":[["2f887f94.7789a","96fd060.788faf8"]]},{"id":"ed1f7e0d.330a2","type":"ui_button","z":"c7aeb214.be84a","name":"","group":"abd90154.0ed24","order":20,"width":4,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"cancel","payloadType":"str","topic":"control","x":1070,"y":360,"wires":[["9c236a39.193aa8","76265aa3.96ed44","32e949a.83cacb6","9b9414c4.6b7748"]]},{"id":"e75cf256.acda5","type":"function","z":"c7aeb214.be84a","name":"ON function","func":"if (msg.payload == false){\n    msg.payload = 0;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":60,"wires":[["369dde6a.3c5da2","8ca913d9.5fa46"]]},{"id":"21783e3b.6a4582","type":"function","z":"c7aeb214.be84a","name":"OFF function","func":"if (msg.payload == false){\n    msg.payload = 1;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":100,"wires":[["369dde6a.3c5da2","8ca913d9.5fa46"]]},{"id":"32e949a.83cacb6","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":360,"wires":[["21783e3b.6a4582"]]},{"id":"8ca913d9.5fa46","type":"ui_led","z":"c7aeb214.be84a","group":"abd90154.0ed24","order":18,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":2070,"y":60,"wires":[]},{"id":"17b7bc2.ff3d844","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1860,"y":20,"wires":[["8ca913d9.5fa46"]]},{"id":"2f887f94.7789a","type":"change","z":"c7aeb214.be84a","name":"disable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["9c41f3ce.cee4a"]]},{"id":"9b9414c4.6b7748","type":"change","z":"c7aeb214.be84a","name":"enable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["9c41f3ce.cee4a"]]},{"id":"96fd060.788faf8","type":"switch","z":"c7aeb214.be84a","name":"","property":"#:(file)::start_state","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":320,"wires":[["9c236a39.193aa8"],["76265aa3.96ed44"]]},{"id":"dc06179d.12cb68","type":"ui_switch","z":"c7aeb214.be84a","name":"","label":"Off Cycle First","tooltip":"","group":"abd90154.0ed24","order":22,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"off","onvalueType":"str","onicon":"","oncolor":"","offvalue":"on","offvalueType":"str","officon":"","offcolor":"","x":1100,"y":420,"wires":[["937347dd.816e88"]]},{"id":"937347dd.816e88","type":"change","z":"c7aeb214.be84a","name":"","rules":[{"t":"set","p":"#:(file)::start_state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":420,"wires":[[]]},{"id":"7cf02985.608d18","type":"rpi-gpio out","z":"9de1b4ad.18baf8","name":"","pin":"33","set":true,"level":"1","freq":"","out":"out","x":2100,"y":120,"wires":[]},{"id":"a769eef3.cd1fa","type":"ui_button","z":"9de1b4ad.18baf8","name":"Set","group":"da1e78c6.957288","order":12,"width":12,"height":1,"passthru":false,"label":"Set ON/OFF Cycle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"control","x":830,"y":180,"wires":[["1f804989.1445e6","458bd7fb.7ece08","ad60b01.2aaf35","28d93b24.dc0424"]]},{"id":"1f804989.1445e6","type":"change","z":"9de1b4ad.18baf8","name":"set flow.device_onInterval","rules":[{"t":"set","p":"#:(file)::device_onInterval","pt":"flow","to":"device_temp_onInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_onInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":180,"wires":[["9ba27e91.f4e38"]]},{"id":"458bd7fb.7ece08","type":"change","z":"9de1b4ad.18baf8","name":"set flow.device_offInterval","rules":[{"t":"set","p":"#:(file)::device_offInterval","pt":"flow","to":"device_temp_offInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_offInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":220,"wires":[["e652c08e.03cdf"]]},{"id":"ab1f5fe2.7eb9a","type":"function","z":"9de1b4ad.18baf8","name":"get device label","func":"msg.payload = global.get(\"device2\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":80,"wires":[["7d48d696.99e848"]]},{"id":"9d5c0ae7.f48f28","type":"inject","z":"9de1b4ad.18baf8","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::device2","payloadType":"global","x":110,"y":40,"wires":[["7d48d696.99e848"]]},{"id":"7d48d696.99e848","type":"ui_text","z":"9de1b4ad.18baf8","group":"da1e78c6.957288","order":1,"width":0,"height":0,"name":"","label":"GPIO 33:","format":"{{msg.payload}}","layout":"row-left","x":500,"y":40,"wires":[]},{"id":"ae22829c.be3b7","type":"link in","z":"9de1b4ad.18baf8","name":"set_device","links":["13134c6d.5aebb4"],"x":135,"y":80,"wires":[["ab1f5fe2.7eb9a"]]},{"id":"9ba27e91.f4e38","type":"countdown","z":"9de1b4ad.18baf8","name":"On Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1460,"y":180,"wires":[["e652c08e.03cdf","97aec07e.fcf2f"],["9446a206.dc7f5","d5abe2d4.07707"]]},{"id":"3b05fe1d.cf2be2","type":"inject","z":"9de1b4ad.18baf8","name":"init On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_onInterval","payloadType":"flow","x":910,"y":40,"wires":[["9ba27e91.f4e38","ad60b01.2aaf35"]]},{"id":"e652c08e.03cdf","type":"countdown","z":"9de1b4ad.18baf8","name":"Off Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1460,"y":240,"wires":[["9ba27e91.f4e38","a15593c6.13b38"],["74a512bf.13852c","d5abe2d4.07707"]]},{"id":"da69c00e.a2b65","type":"inject","z":"9de1b4ad.18baf8","name":"init Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_offInterval","payloadType":"flow","x":910,"y":80,"wires":[["e652c08e.03cdf","28d93b24.dc0424"]]},{"id":"50a54cd9.ebff94","type":"ui_text","z":"9de1b4ad.18baf8","group":"da1e78c6.957288","order":13,"width":3,"height":1,"name":"","label":"On Cycle:","format":"{{msg.payload}}","layout":"row-left","x":1660,"y":40,"wires":[]},{"id":"ad60b01.2aaf35","type":"function","z":"9de1b4ad.18baf8","name":"get on interval","func":"msg.payload = flow.get(\"device_onInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":40,"wires":[["f59690b0.252f5"]]},{"id":"b00d03d5.4cc56","type":"ui_text","z":"9de1b4ad.18baf8","group":"da1e78c6.957288","order":14,"width":3,"height":1,"name":"","label":"Off cycle:","format":"{{msg.payload}}","layout":"row-left","x":1660,"y":80,"wires":[]},{"id":"28d93b24.dc0424","type":"function","z":"9de1b4ad.18baf8","name":"get off interval","func":"msg.payload = flow.get(\"device_offInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":80,"wires":[["ba2a51be.ddccf"]]},{"id":"bfa7b04f.27e2","type":"ui_gauge","z":"9de1b4ad.18baf8","name":"Time visual","group":"da1e78c6.957288","order":23,"width":12,"height":4,"gtype":"donut","title":"","label":"","format":"","min":0,"max":10,"colors":["#e6e600","#fd5e53","#191970"],"seg1":"","seg2":"","x":2070,"y":200,"wires":[]},{"id":"9446a206.dc7f5","type":"function","z":"9de1b4ad.18baf8","name":"variable guage on parameters","func":"min = -flow.get(\"device_onInterval\", \"file\");\nmax = 0;\n\nmsg = {payload:-msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":180,"wires":[["bfa7b04f.27e2"]]},{"id":"74a512bf.13852c","type":"function","z":"9de1b4ad.18baf8","name":"variable guage off parameters","func":"max = flow.get(\"device_offInterval\", \"file\");\nmin = 0;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":220,"wires":[["bfa7b04f.27e2"]]},{"id":"c8e02050.3ee0e","type":"ui_text","z":"9de1b4ad.18baf8","group":"da1e78c6.957288","order":17,"width":5,"height":1,"name":"","label":"Time Remaining:","format":"{{msg.payload}}","layout":"row-left","x":2090,"y":260,"wires":[]},{"id":"d5abe2d4.07707","type":"function","z":"9de1b4ad.18baf8","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":260,"wires":[["c8e02050.3ee0e"]]},{"id":"7edda36.443e65c","type":"ui_text_input","z":"9de1b4ad.18baf8","name":"On Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"da1e78c6.957288","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":150,"y":240,"wires":[["223147ad.b99b08"]]},{"id":"1e84039a.6620ac","type":"ui_text_input","z":"9de1b4ad.18baf8","name":"On Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"da1e78c6.957288","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":150,"y":280,"wires":[["223147ad.b99b08"]]},{"id":"62bed6f8.4b48f8","type":"ui_text_input","z":"9de1b4ad.18baf8","name":"On Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"da1e78c6.957288","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":160,"y":320,"wires":[["223147ad.b99b08"]]},{"id":"259bafd.c44965","type":"ui_text_input","z":"9de1b4ad.18baf8","name":"Off Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"da1e78c6.957288","order":8,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":150,"y":440,"wires":[["3d6cac8e.a9d0f4"]]},{"id":"c690274d.286638","type":"ui_text_input","z":"9de1b4ad.18baf8","name":"Off Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"da1e78c6.957288","order":9,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":150,"y":480,"wires":[["3d6cac8e.a9d0f4"]]},{"id":"bd0f28f3.d09ef8","type":"ui_text_input","z":"9de1b4ad.18baf8","name":"Off Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"da1e78c6.957288","order":10,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":160,"y":520,"wires":[["3d6cac8e.a9d0f4"]]},{"id":"3d6cac8e.a9d0f4","type":"join","z":"9de1b4ad.18baf8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":480,"wires":[["90f70821.98a1b8"]]},{"id":"90f70821.98a1b8","type":"function","z":"9de1b4ad.18baf8","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":480,"wires":[["3bbf38b0.b5c718"]]},{"id":"f59690b0.252f5","type":"function","z":"9de1b4ad.18baf8","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":40,"wires":[["50a54cd9.ebff94"]]},{"id":"ba2a51be.ddccf","type":"function","z":"9de1b4ad.18baf8","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":80,"wires":[["b00d03d5.4cc56"]]},{"id":"4e768a04.466364","type":"function","z":"9de1b4ad.18baf8","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["aa6e0368.16735"]]},{"id":"223147ad.b99b08","type":"join","z":"9de1b4ad.18baf8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":280,"wires":[["4e768a04.466364"]]},{"id":"3bbf38b0.b5c718","type":"change","z":"9de1b4ad.18baf8","name":"","rules":[{"t":"set","p":"device_temp_offInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":480,"wires":[[]]},{"id":"aa6e0368.16735","type":"change","z":"9de1b4ad.18baf8","name":"","rules":[{"t":"set","p":"device_temp_onInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":280,"wires":[[]]},{"id":"a3b14265.1cb19","type":"inject","z":"9de1b4ad.18baf8","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".5","topic":"","payload":"1","payloadType":"num","x":110,"y":140,"wires":[["7edda36.443e65c","1e84039a.6620ac","62bed6f8.4b48f8","259bafd.c44965","c690274d.286638","bd0f28f3.d09ef8"]]},{"id":"a5859d59.102b9","type":"ui_text","z":"9de1b4ad.18baf8","group":"da1e78c6.957288","order":2,"width":3,"height":1,"name":"Set \"On\" Time Interval","label":"","format":"Set \"On\" Time Interval","layout":"row-left","x":160,"y":200,"wires":[]},{"id":"c240c589.25f238","type":"ui_text","z":"9de1b4ad.18baf8","group":"da1e78c6.957288","order":7,"width":3,"height":1,"name":"Set \"Off\" Time Interval","label":"","format":"Set \"Off\" Time Interval","layout":"row-left","x":160,"y":400,"wires":[]},{"id":"7cc53236.83ed2c","type":"ui_button","z":"9de1b4ad.18baf8","name":"","group":"da1e78c6.957288","order":16,"width":4,"height":1,"passthru":false,"label":"Start Sequence","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":1120,"y":340,"wires":[["b5c79416.5830f8","2fba7c70.5829d4"]]},{"id":"d421f6d5.749a68","type":"ui_button","z":"9de1b4ad.18baf8","name":"","group":"da1e78c6.957288","order":20,"width":4,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"cancel","payloadType":"str","topic":"control","x":1090,"y":380,"wires":[["9ba27e91.f4e38","e652c08e.03cdf","8c95d575.50a558","adbe1645.a6fd08"]]},{"id":"97aec07e.fcf2f","type":"function","z":"9de1b4ad.18baf8","name":"ON function","func":"if (msg.payload == false){\n    msg.payload = 0;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":80,"wires":[["7cf02985.608d18","8412af54.21eb9"]]},{"id":"a15593c6.13b38","type":"function","z":"9de1b4ad.18baf8","name":"OFF function","func":"if (msg.payload == false){\n    msg.payload = 1;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":120,"wires":[["7cf02985.608d18","8412af54.21eb9"]]},{"id":"8c95d575.50a558","type":"change","z":"9de1b4ad.18baf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":380,"wires":[["a15593c6.13b38"]]},{"id":"8412af54.21eb9","type":"ui_led","z":"9de1b4ad.18baf8","group":"da1e78c6.957288","order":18,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":2090,"y":80,"wires":[]},{"id":"3ad39865.6ef8a8","type":"inject","z":"9de1b4ad.18baf8","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1880,"y":40,"wires":[["8412af54.21eb9"]]},{"id":"b5c79416.5830f8","type":"change","z":"9de1b4ad.18baf8","name":"disable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":180,"wires":[["a769eef3.cd1fa"]]},{"id":"adbe1645.a6fd08","type":"change","z":"9de1b4ad.18baf8","name":"enable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":140,"wires":[["a769eef3.cd1fa"]]},{"id":"2fba7c70.5829d4","type":"switch","z":"9de1b4ad.18baf8","name":"","property":"#:(file)::start_state","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":340,"wires":[["9ba27e91.f4e38"],["e652c08e.03cdf"]]},{"id":"6d8b03df.b0c6ec","type":"ui_switch","z":"9de1b4ad.18baf8","name":"","label":"Off Cycle First","tooltip":"","group":"da1e78c6.957288","order":22,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"off","onvalueType":"str","onicon":"","oncolor":"","offvalue":"on","offvalueType":"str","officon":"","offcolor":"","x":1120,"y":440,"wires":[["274f08cb.d55de8"]]},{"id":"274f08cb.d55de8","type":"change","z":"9de1b4ad.18baf8","name":"","rules":[{"t":"set","p":"#:(file)::start_state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":440,"wires":[[]]},{"id":"82154d30.9dd8b","type":"inject","z":"9de1b4ad.18baf8","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":1030,"y":540,"wires":[["6d8b03df.b0c6ec"]]},{"id":"7a45d8a1.7a4ea8","type":"inject","z":"c7aeb214.be84a","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":990,"y":520,"wires":[["dc06179d.12cb68"]]},{"id":"978250f1.7dab3","type":"rpi-gpio out","z":"68d6886a.182df8","name":"","pin":"35","set":true,"level":"1","freq":"","out":"out","x":2120,"y":140,"wires":[]},{"id":"686d43f.3d76cbc","type":"ui_button","z":"68d6886a.182df8","name":"Set","group":"20a4e3c0.c102bc","order":16,"width":12,"height":1,"passthru":false,"label":"Set ON/OFF Cycle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"control","x":850,"y":200,"wires":[["6c186dfa.cd2af4","495a7a48.409324","f54eaf26.c5b41","b5b47012.e3191"]]},{"id":"6c186dfa.cd2af4","type":"change","z":"68d6886a.182df8","name":"set flow.device_onInterval","rules":[{"t":"set","p":"#:(file)::device_onInterval","pt":"flow","to":"device_temp_onInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_onInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":200,"wires":[["392a90da.0b288"]]},{"id":"495a7a48.409324","type":"change","z":"68d6886a.182df8","name":"set flow.device_offInterval","rules":[{"t":"set","p":"#:(file)::device_offInterval","pt":"flow","to":"device_temp_offInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_offInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":240,"wires":[["fbe01c33.1ace6"]]},{"id":"6a539e9e.b8e38","type":"function","z":"68d6886a.182df8","name":"get device label","func":"msg.payload = global.get(\"device3\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["e3fcf977.3ae6f8"]]},{"id":"32203a23.217e86","type":"inject","z":"68d6886a.182df8","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::device3","payloadType":"global","x":130,"y":60,"wires":[["e3fcf977.3ae6f8"]]},{"id":"e3fcf977.3ae6f8","type":"ui_text","z":"68d6886a.182df8","group":"20a4e3c0.c102bc","order":1,"width":0,"height":0,"name":"","label":"GPIO 35:","format":"{{msg.payload}}","layout":"row-left","x":520,"y":60,"wires":[]},{"id":"b6746acf.9b0e28","type":"link in","z":"68d6886a.182df8","name":"set_device","links":["13134c6d.5aebb4"],"x":155,"y":100,"wires":[["6a539e9e.b8e38"]]},{"id":"392a90da.0b288","type":"countdown","z":"68d6886a.182df8","name":"On Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1480,"y":200,"wires":[["fbe01c33.1ace6","5e3c3e6f.fac6c"],["425ac7b4.1d6118","f4cef737.842b88"]]},{"id":"db41aaa8.62ec88","type":"inject","z":"68d6886a.182df8","name":"init On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_onInterval","payloadType":"flow","x":930,"y":60,"wires":[["392a90da.0b288","f54eaf26.c5b41"]]},{"id":"fbe01c33.1ace6","type":"countdown","z":"68d6886a.182df8","name":"Off Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1480,"y":260,"wires":[["392a90da.0b288","e03709a3.fcfd18"],["bd75dfa3.1e9d7","f4cef737.842b88"]]},{"id":"167dd86e.a27f58","type":"inject","z":"68d6886a.182df8","name":"init Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_offInterval","payloadType":"flow","x":930,"y":100,"wires":[["fbe01c33.1ace6","b5b47012.e3191"]]},{"id":"706ec53c.76808c","type":"ui_text","z":"68d6886a.182df8","group":"20a4e3c0.c102bc","order":14,"width":3,"height":1,"name":"","label":"On Cycle:","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":60,"wires":[]},{"id":"f54eaf26.c5b41","type":"function","z":"68d6886a.182df8","name":"get on interval","func":"msg.payload = flow.get(\"device_onInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":60,"wires":[["24a2c9fe.b58346"]]},{"id":"49b6e799.e3e768","type":"ui_text","z":"68d6886a.182df8","group":"20a4e3c0.c102bc","order":15,"width":3,"height":1,"name":"","label":"Off cycle:","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":100,"wires":[]},{"id":"b5b47012.e3191","type":"function","z":"68d6886a.182df8","name":"get off interval","func":"msg.payload = flow.get(\"device_offInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":100,"wires":[["5d013589.ef7f7c"]]},{"id":"2e4127a5.595ad8","type":"ui_gauge","z":"68d6886a.182df8","name":"Time visual","group":"20a4e3c0.c102bc","order":27,"width":12,"height":4,"gtype":"donut","title":"","label":"","format":"","min":0,"max":10,"colors":["#e6e600","#fd5e53","#191970"],"seg1":"","seg2":"","x":2090,"y":220,"wires":[]},{"id":"425ac7b4.1d6118","type":"function","z":"68d6886a.182df8","name":"variable guage on parameters","func":"min = -flow.get(\"device_onInterval\", \"file\");\nmax = 0;\n\nmsg = {payload:-msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":200,"wires":[["2e4127a5.595ad8"]]},{"id":"bd75dfa3.1e9d7","type":"function","z":"68d6886a.182df8","name":"variable guage off parameters","func":"max = flow.get(\"device_offInterval\", \"file\");\nmin = 0;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":240,"wires":[["2e4127a5.595ad8"]]},{"id":"d207625a.7e048","type":"ui_text","z":"68d6886a.182df8","group":"20a4e3c0.c102bc","order":25,"width":5,"height":1,"name":"","label":"Time Remaining:","format":"{{msg.payload}}","layout":"row-left","x":2110,"y":280,"wires":[]},{"id":"f4cef737.842b88","type":"function","z":"68d6886a.182df8","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":280,"wires":[["d207625a.7e048"]]},{"id":"8c5e6d55.a3785","type":"ui_text_input","z":"68d6886a.182df8","name":"On Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"20a4e3c0.c102bc","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":170,"y":260,"wires":[["2da6c5cd.b271da"]]},{"id":"9ade3fc5.02555","type":"ui_text_input","z":"68d6886a.182df8","name":"On Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"20a4e3c0.c102bc","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":170,"y":300,"wires":[["2da6c5cd.b271da"]]},{"id":"a253d16a.04bd6","type":"ui_text_input","z":"68d6886a.182df8","name":"On Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"20a4e3c0.c102bc","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":180,"y":340,"wires":[["2da6c5cd.b271da"]]},{"id":"8ccaa969.01eca8","type":"ui_text_input","z":"68d6886a.182df8","name":"Off Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"20a4e3c0.c102bc","order":10,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":170,"y":460,"wires":[["674a470b.c29248"]]},{"id":"407b72de.83bfec","type":"ui_text_input","z":"68d6886a.182df8","name":"Off Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"20a4e3c0.c102bc","order":11,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":170,"y":500,"wires":[["674a470b.c29248"]]},{"id":"a2a5aadc.858898","type":"ui_text_input","z":"68d6886a.182df8","name":"Off Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"20a4e3c0.c102bc","order":12,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":180,"y":540,"wires":[["674a470b.c29248"]]},{"id":"674a470b.c29248","type":"join","z":"68d6886a.182df8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":500,"wires":[["bd05f0f2.17f9a"]]},{"id":"bd05f0f2.17f9a","type":"function","z":"68d6886a.182df8","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":500,"wires":[["97d32459.ac78c8"]]},{"id":"24a2c9fe.b58346","type":"function","z":"68d6886a.182df8","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":60,"wires":[["706ec53c.76808c"]]},{"id":"5d013589.ef7f7c","type":"function","z":"68d6886a.182df8","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":100,"wires":[["49b6e799.e3e768"]]},{"id":"96d799df.51db38","type":"function","z":"68d6886a.182df8","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["3de5130f.e379ec"]]},{"id":"2da6c5cd.b271da","type":"join","z":"68d6886a.182df8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":300,"wires":[["96d799df.51db38"]]},{"id":"97d32459.ac78c8","type":"change","z":"68d6886a.182df8","name":"","rules":[{"t":"set","p":"device_temp_offInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[[]]},{"id":"3de5130f.e379ec","type":"change","z":"68d6886a.182df8","name":"","rules":[{"t":"set","p":"device_temp_onInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":300,"wires":[[]]},{"id":"c0f9dad5.de7748","type":"inject","z":"68d6886a.182df8","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".5","topic":"","payload":"1","payloadType":"num","x":130,"y":160,"wires":[["8c5e6d55.a3785","9ade3fc5.02555","a253d16a.04bd6","8ccaa969.01eca8","407b72de.83bfec","a2a5aadc.858898"]]},{"id":"f05b021a.9f0ff","type":"ui_text","z":"68d6886a.182df8","group":"20a4e3c0.c102bc","order":3,"width":3,"height":1,"name":"Set \"On\" Time Interval","label":"","format":"Set \"On\" Time Interval","layout":"row-left","x":180,"y":220,"wires":[]},{"id":"f81b4591.7aef18","type":"ui_text","z":"68d6886a.182df8","group":"20a4e3c0.c102bc","order":9,"width":3,"height":1,"name":"Set \"Off\" Time Interval","label":"","format":"Set \"Off\" Time Interval","layout":"row-left","x":180,"y":420,"wires":[]},{"id":"6753e1d.6485d2","type":"ui_button","z":"68d6886a.182df8","name":"","group":"20a4e3c0.c102bc","order":18,"width":4,"height":1,"passthru":false,"label":"Start Sequence","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":1140,"y":360,"wires":[["e1a81e48.aea4e","ee8e62f4.5a19d"]]},{"id":"6fe5b523.a77d7c","type":"ui_button","z":"68d6886a.182df8","name":"","group":"20a4e3c0.c102bc","order":19,"width":4,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"cancel","payloadType":"str","topic":"control","x":1110,"y":400,"wires":[["392a90da.0b288","fbe01c33.1ace6","b0b22e1d.c1dba","750262ea.2386bc"]]},{"id":"5e3c3e6f.fac6c","type":"function","z":"68d6886a.182df8","name":"ON function","func":"if (msg.payload == false){\n    msg.payload = 0;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":100,"wires":[["978250f1.7dab3","258662ea.e1540e"]]},{"id":"e03709a3.fcfd18","type":"function","z":"68d6886a.182df8","name":"OFF function","func":"if (msg.payload == false){\n    msg.payload = 1;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":140,"wires":[["978250f1.7dab3","258662ea.e1540e"]]},{"id":"b0b22e1d.c1dba","type":"change","z":"68d6886a.182df8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":400,"wires":[["e03709a3.fcfd18"]]},{"id":"258662ea.e1540e","type":"ui_led","z":"68d6886a.182df8","group":"20a4e3c0.c102bc","order":21,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":2110,"y":100,"wires":[]},{"id":"e06638ea.c416d8","type":"inject","z":"68d6886a.182df8","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1900,"y":60,"wires":[["258662ea.e1540e"]]},{"id":"e1a81e48.aea4e","type":"change","z":"68d6886a.182df8","name":"disable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":200,"wires":[["686d43f.3d76cbc"]]},{"id":"750262ea.2386bc","type":"change","z":"68d6886a.182df8","name":"enable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["686d43f.3d76cbc"]]},{"id":"ee8e62f4.5a19d","type":"switch","z":"68d6886a.182df8","name":"","property":"#:(file)::start_state","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":360,"wires":[["392a90da.0b288"],["fbe01c33.1ace6"]]},{"id":"aac6923.359d17","type":"ui_switch","z":"68d6886a.182df8","name":"","label":"Off Cycle First","tooltip":"","group":"20a4e3c0.c102bc","order":24,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"off","onvalueType":"str","onicon":"","oncolor":"","offvalue":"on","offvalueType":"str","officon":"","offcolor":"","x":1140,"y":460,"wires":[["48adb559.d6eb7c"]]},{"id":"48adb559.d6eb7c","type":"change","z":"68d6886a.182df8","name":"","rules":[{"t":"set","p":"#:(file)::start_state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":460,"wires":[[]]},{"id":"bd5ef9ff.00aa28","type":"inject","z":"68d6886a.182df8","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":1050,"y":560,"wires":[["aac6923.359d17"]]},{"id":"11dea71f.995e09","type":"rpi-gpio out","z":"7b20b127.ba8f","name":"","pin":"37","set":true,"level":"1","freq":"","out":"out","x":2120,"y":140,"wires":[]},{"id":"5ac858f7.ac0958","type":"ui_button","z":"7b20b127.ba8f","name":"Set","group":"c9c7a2ec.25f2f","order":16,"width":12,"height":1,"passthru":false,"label":"Set ON/OFF Cycle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"control","x":850,"y":200,"wires":[["31d3faf6.586d06","4d55404d.505a5","74543985.767fb8","b7ba4039.f2b17"]]},{"id":"31d3faf6.586d06","type":"change","z":"7b20b127.ba8f","name":"set flow.device_onInterval","rules":[{"t":"set","p":"#:(file)::device_onInterval","pt":"flow","to":"device_temp_onInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_onInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":200,"wires":[["2bc85514.8e2bfa"]]},{"id":"4d55404d.505a5","type":"change","z":"7b20b127.ba8f","name":"set flow.device_offInterval","rules":[{"t":"set","p":"#:(file)::device_offInterval","pt":"flow","to":"device_temp_offInterval","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"#:(file)::device_offInterval","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":240,"wires":[["5bdd4f2a.0c75"]]},{"id":"8bfd21ef.6b4ce","type":"function","z":"7b20b127.ba8f","name":"get device label","func":"msg.payload = global.get(\"device4\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["215f93dd.16896c"]]},{"id":"44b92104.dd8e8","type":"inject","z":"7b20b127.ba8f","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::device4","payloadType":"global","x":130,"y":60,"wires":[["215f93dd.16896c"]]},{"id":"215f93dd.16896c","type":"ui_text","z":"7b20b127.ba8f","group":"c9c7a2ec.25f2f","order":1,"width":0,"height":0,"name":"","label":"GPIO 37:","format":"{{msg.payload}}","layout":"row-left","x":520,"y":60,"wires":[]},{"id":"834b6dcd.d8906","type":"link in","z":"7b20b127.ba8f","name":"set_device","links":["13134c6d.5aebb4"],"x":155,"y":100,"wires":[["8bfd21ef.6b4ce"]]},{"id":"2bc85514.8e2bfa","type":"countdown","z":"7b20b127.ba8f","name":"On Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1480,"y":200,"wires":[["5bdd4f2a.0c75","f992bb1a.03dd18"],["de40136b.26fbc","22fb6c36.654444"]]},{"id":"e4a15498.5fceb8","type":"inject","z":"7b20b127.ba8f","name":"init On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_onInterval","payloadType":"flow","x":930,"y":60,"wires":[["2bc85514.8e2bfa","74543985.767fb8"]]},{"id":"5bdd4f2a.0c75","type":"countdown","z":"7b20b127.ba8f","name":"Off Cycle Countdown","topic":"","payloadTimerStart":"false","payloadTimerStartType":"bool","payloadTimerStop":"true","payloadTimerStopType":"bool","timer":"0","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"minuteCounter":false,"x":1480,"y":260,"wires":[["2bc85514.8e2bfa","a10e8703.2dc2e8"],["1852aa35.bc3386","22fb6c36.654444"]]},{"id":"ef4fbaa0.78adb8","type":"inject","z":"7b20b127.ba8f","name":"init Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"#:(file)::device_offInterval","payloadType":"flow","x":930,"y":100,"wires":[["5bdd4f2a.0c75","b7ba4039.f2b17"]]},{"id":"596eb1dc.9ecd9","type":"ui_text","z":"7b20b127.ba8f","group":"c9c7a2ec.25f2f","order":14,"width":3,"height":1,"name":"","label":"On Cycle:","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":60,"wires":[]},{"id":"74543985.767fb8","type":"function","z":"7b20b127.ba8f","name":"get on interval","func":"msg.payload = flow.get(\"device_onInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":60,"wires":[["6d251153.e15c4"]]},{"id":"df3b19e4.23d358","type":"ui_text","z":"7b20b127.ba8f","group":"c9c7a2ec.25f2f","order":15,"width":3,"height":1,"name":"","label":"Off cycle:","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":100,"wires":[]},{"id":"b7ba4039.f2b17","type":"function","z":"7b20b127.ba8f","name":"get off interval","func":"msg.payload = flow.get(\"device_offInterval\", \"file\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":100,"wires":[["6a0640fc.8b2c9"]]},{"id":"dc78fb6a.16b4b8","type":"ui_gauge","z":"7b20b127.ba8f","name":"Time visual","group":"c9c7a2ec.25f2f","order":27,"width":12,"height":4,"gtype":"donut","title":"","label":"","format":"","min":0,"max":10,"colors":["#e6e600","#fd5e53","#191970"],"seg1":"","seg2":"","x":2090,"y":220,"wires":[]},{"id":"de40136b.26fbc","type":"function","z":"7b20b127.ba8f","name":"variable guage on parameters","func":"min = -flow.get(\"device_onInterval\", \"file\");\nmax = 0;\n\nmsg = {payload:-msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":200,"wires":[["dc78fb6a.16b4b8"]]},{"id":"1852aa35.bc3386","type":"function","z":"7b20b127.ba8f","name":"variable guage off parameters","func":"max = flow.get(\"device_offInterval\", \"file\");\nmin = 0;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max-1}}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":240,"wires":[["dc78fb6a.16b4b8"]]},{"id":"206dc5cd.ddd16a","type":"ui_text","z":"7b20b127.ba8f","group":"c9c7a2ec.25f2f","order":25,"width":5,"height":1,"name":"","label":"Time Remaining:","format":"{{msg.payload}}","layout":"row-left","x":2110,"y":280,"wires":[]},{"id":"22fb6c36.654444","type":"function","z":"7b20b127.ba8f","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":280,"wires":[["206dc5cd.ddd16a"]]},{"id":"ec3babdd.6dcb18","type":"ui_text_input","z":"7b20b127.ba8f","name":"On Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"c9c7a2ec.25f2f","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":170,"y":260,"wires":[["eafb4216.8af72"]]},{"id":"5a16597.bde8da8","type":"ui_text_input","z":"7b20b127.ba8f","name":"On Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"c9c7a2ec.25f2f","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":170,"y":300,"wires":[["eafb4216.8af72"]]},{"id":"27f6f19d.b09f3e","type":"ui_text_input","z":"7b20b127.ba8f","name":"On Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"c9c7a2ec.25f2f","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":180,"y":340,"wires":[["eafb4216.8af72"]]},{"id":"b4131f2c.d520e","type":"ui_text_input","z":"7b20b127.ba8f","name":"Off Interval (Hours)","label":"Hours","tooltip":"please set an on or ","group":"c9c7a2ec.25f2f","order":10,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"h","x":170,"y":460,"wires":[["be5bf080.e856f"]]},{"id":"a9d88e74.d079a","type":"ui_text_input","z":"7b20b127.ba8f","name":"Off Interval(Minute)","label":"Minutes","tooltip":"please set an on or ","group":"c9c7a2ec.25f2f","order":11,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"m","x":170,"y":500,"wires":[["be5bf080.e856f"]]},{"id":"57d05894.dfbda8","type":"ui_text_input","z":"7b20b127.ba8f","name":"Off Interval(Seconds)","label":"Seconds","tooltip":"please set an on or ","group":"c9c7a2ec.25f2f","order":12,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"s","x":180,"y":540,"wires":[["be5bf080.e856f"]]},{"id":"be5bf080.e856f","type":"join","z":"7b20b127.ba8f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":500,"wires":[["7ad9c327.2965ec"]]},{"id":"7ad9c327.2965ec","type":"function","z":"7b20b127.ba8f","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":500,"wires":[["fc33db3a.221148"]]},{"id":"6d251153.e15c4","type":"function","z":"7b20b127.ba8f","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":60,"wires":[["596eb1dc.9ecd9"]]},{"id":"6a0640fc.8b2c9","type":"function","z":"7b20b127.ba8f","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":100,"wires":[["df3b19e4.23d358"]]},{"id":"8bc78b1a.3deae8","type":"function","z":"7b20b127.ba8f","name":"convert to seconds","func":"var hts = msg.payload.h *60*60;\n\nvar mts = msg.payload.m *60;\n\nvar s = msg.payload.s;\nmsg.payload = hts + mts + s;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["a8b3af7d.4dc66"]]},{"id":"eafb4216.8af72","type":"join","z":"7b20b127.ba8f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":300,"wires":[["8bc78b1a.3deae8"]]},{"id":"fc33db3a.221148","type":"change","z":"7b20b127.ba8f","name":"","rules":[{"t":"set","p":"device_temp_offInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[[]]},{"id":"a8b3af7d.4dc66","type":"change","z":"7b20b127.ba8f","name":"","rules":[{"t":"set","p":"device_temp_onInterval","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":300,"wires":[[]]},{"id":"e51ebf63.58a3d","type":"inject","z":"7b20b127.ba8f","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".5","topic":"","payload":"1","payloadType":"num","x":130,"y":160,"wires":[["ec3babdd.6dcb18","5a16597.bde8da8","27f6f19d.b09f3e","b4131f2c.d520e","a9d88e74.d079a","57d05894.dfbda8"]]},{"id":"e37f815d.c1efd","type":"ui_text","z":"7b20b127.ba8f","group":"c9c7a2ec.25f2f","order":3,"width":3,"height":1,"name":"Set \"On\" Time Interval","label":"","format":"Set \"On\" Time Interval","layout":"row-left","x":180,"y":220,"wires":[]},{"id":"22df564a.59f79a","type":"ui_text","z":"7b20b127.ba8f","group":"c9c7a2ec.25f2f","order":9,"width":3,"height":1,"name":"Set \"Off\" Time Interval","label":"","format":"Set \"Off\" Time Interval","layout":"row-left","x":180,"y":420,"wires":[]},{"id":"ac9772da.c2f2b","type":"ui_button","z":"7b20b127.ba8f","name":"","group":"c9c7a2ec.25f2f","order":18,"width":4,"height":1,"passthru":false,"label":"Start Sequence","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":1140,"y":360,"wires":[["d070bde9.67ad5","67afcd75.2feca4"]]},{"id":"d9fb44af.8c5318","type":"ui_button","z":"7b20b127.ba8f","name":"","group":"c9c7a2ec.25f2f","order":19,"width":4,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"cancel","payloadType":"str","topic":"control","x":1110,"y":400,"wires":[["2bc85514.8e2bfa","5bdd4f2a.0c75","102d8092.52f44f","d94d055.dd7b4f8"]]},{"id":"f992bb1a.03dd18","type":"function","z":"7b20b127.ba8f","name":"ON function","func":"if (msg.payload == false){\n    msg.payload = 0;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":100,"wires":[["11dea71f.995e09","d37d56c4.e89628"]]},{"id":"a10e8703.2dc2e8","type":"function","z":"7b20b127.ba8f","name":"OFF function","func":"if (msg.payload == false){\n    msg.payload = 1;\n    return msg;\n} else{\n    \n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":140,"wires":[["11dea71f.995e09","d37d56c4.e89628"]]},{"id":"102d8092.52f44f","type":"change","z":"7b20b127.ba8f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":400,"wires":[["a10e8703.2dc2e8"]]},{"id":"d37d56c4.e89628","type":"ui_led","z":"7b20b127.ba8f","group":"c9c7a2ec.25f2f","order":21,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":2110,"y":100,"wires":[]},{"id":"f791f669.8af148","type":"inject","z":"7b20b127.ba8f","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1900,"y":60,"wires":[["d37d56c4.e89628"]]},{"id":"d070bde9.67ad5","type":"change","z":"7b20b127.ba8f","name":"disable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":200,"wires":[["5ac858f7.ac0958"]]},{"id":"d94d055.dd7b4f8","type":"change","z":"7b20b127.ba8f","name":"enable set","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["5ac858f7.ac0958"]]},{"id":"67afcd75.2feca4","type":"switch","z":"7b20b127.ba8f","name":"","property":"#:(file)::start_state","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":360,"wires":[["2bc85514.8e2bfa"],["5bdd4f2a.0c75"]]},{"id":"3b7e9ea3.4fee62","type":"ui_switch","z":"7b20b127.ba8f","name":"","label":"Off Cycle First","tooltip":"","group":"c9c7a2ec.25f2f","order":24,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"off","onvalueType":"str","onicon":"","oncolor":"","offvalue":"on","offvalueType":"str","officon":"","offcolor":"","x":1140,"y":460,"wires":[["3e22fac6.a8ebe6"]]},{"id":"3e22fac6.a8ebe6","type":"change","z":"7b20b127.ba8f","name":"","rules":[{"t":"set","p":"#:(file)::start_state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":460,"wires":[[]]},{"id":"e91779d8.ad26b8","type":"inject","z":"7b20b127.ba8f","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":1050,"y":560,"wires":[["3b7e9ea3.4fee62"]]}]